# Aprendiendo Python

## Hola mundo en Python

In [2]:
print("Hola mundo")

Hola mundo

## Tipos de datos en Python

In [3]:
type(5)

int

In [4]:
type(3.14)

float

In [5]:
type("Santiago")

str

In [6]:
type(1+2*1j)

complex

In [7]:
type(True)

bool

## Variables en Python

In [9]:
nombre = "Santiago"
edad = 27
temperatura = 25.6
es_mayor_de_edad = True

In [10]:
# snake_case
temperatura_habitacion = 30.1
nombre_completo = "Santiago"

# Constantes
PI = 3.1415
GRAVEDAD = 9.81

## Entradas de usuario

In [13]:
nombre = input("Ingrese su nombre: ")
print(type(nombre))
print("Hola, " + nombre)

<class 'str'>
Hola, Santiago

In [14]:
edad = int(input("Ingrese su edad: "))
print(f"Tu edad en 15 anios sera {edad + 15}")

Tu edad en 15 anios sera 42

## Operadores aritmeticos

In [15]:
a = 10
b = 5

print(a+b)
print(a-b)
print(a*b)
print(a / b)
print(a ** b)
print(a % b)
print(a // b)

15
5
50
2.0
100000
0
2

## Operadores Logicos

In [16]:
a = 10
b = 5

print(a > b) # True
print(a >= b) # True
print(a < b) # False
print(a <= b) # False
print(a == b) # False
print(a != b) # True

True
True
False
False
False
True

In [20]:
# AND
print(a > b and b < 15)

# OR
print(a > 2 or b < 3)

# NOT
print(not a > b)

True
True
False

In [ ]:
a += b # a = a + b
print(a)

a *= b # a = a * b
a /= b # a = a / b

15

In [22]:
a = 10
b = 5

a -= b # a = a - b
print(a) # 5

5

## Condicionales

In [24]:
edad = int(input("Ingrese su edad: "))
if edad >= 18:
    print("Eres mayor de edad")
else:
    print("Eres menor de edad")

Eres menor de edad

In [29]:
nota1 = float(input("Ingrese la nota 1: "))
nota2 = float(input("Ingrese la nota 2: "))
nota3 = float(input("Ingrese la nota 3: "))

promedio = (nota1 + nota2 + nota3) / 3

print(f"tu promedio es {promedio}")

if promedio >= 4.5:
    print("Excelente promedio")
elif promedio >= 4:
    print("Muy buen promedio")
elif promedio >= 3:
    print("Bien")
else:
    print("Necesitas mejorar tu promedio")

tu promedio es 2.3666666666666667
Necesitas mejorar tu promedio

## Ciclos

In [34]:
# For
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [35]:
contador = 0
while contador < 5:
    print(contador)
    contador += 1 # contador = contador + 1

0
1
2
3
4

In [38]:
# break y continue
for i in range(0, 11):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10

# Estructuras de datos con Python

## Listas

In [48]:
mi_lista = [1,2,3,4,5,6,7,8,9,10, "Santiago", 3.14, True, 22,23,"Python"]
print(mi_lista[12])

True

In [43]:
print(mi_lista[-2])

3.14

In [44]:
len(mi_lista)

13

In [49]:
print(mi_lista[len(mi_lista)-1])

Python

In [50]:
print(mi_lista[-1])

Python

## Slicing

In [ ]:
mi_lista = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(mi_lista[1:16:2])

# lista[inicio:fin:paso]

[2, 4, 6, 8, 10, 12, 14]

In [58]:
nombre = "Santiago Suarez"
print(nombre[1:7:2])

ata

In [60]:
# DD-MM-AAAA
fecha = input("Ingrese una fecha en formato DD-MM-AAAA: ")
dia = fecha[:2]
mes = fecha[3:5]
anio = fecha[6:]

print(f"dia: {dia}, mes: {mes}, anio: {anio}")

dia: 23, mes: 02, anio: 2026

In [63]:
mi_lista = [1,2,3,4,5]
# Modificar un elemento de una lista
mi_lista[2] = "Santiago"
print(mi_lista)
mi_lista[-1] = "Python"
print(mi_lista)

[1, 2, 'Santiago', 4, 5]
[1, 2, 'Santiago', 4, 'Python']

In [66]:
# Agregar elementos a una lista
mi_lista = [1,2,3,4,5]
mi_lista.append(6)
mi_lista.append(7)
print(mi_lista)

[1, 2, 3, 4, 5, 6, 7]

In [69]:
a = [1,2,3,4,5]
b = a

b[0] = "Python"
a[-1] = "Hola"

print(a) # [1,2,3,4,5]
print(b) # ["Python",2,3,4,5]

['Python', 2, 3, 4, 'Hola']
['Python', 2, 3, 4, 'Hola']

In [70]:
a = [1,2,3,4,5]
b = a.copy()

b[0] = "Python"
a[-1] = "Hola"

print(a) # [1,2,3,4,5]
print(b) # ["Python",2,3,4,5]

[1, 2, 3, 4, 'Hola']
['Python', 2, 3, 4, 5]

## Tuplas

In [72]:
# Declarar una tupla 
mi_tupla = (1,2,3,4,5)
print(mi_tupla)

(1, 2, 3, 4, 5)

## Diccionarios

In [76]:
# key : value
mi_diccionario = {
    "nombre" : "Santiago",
    "apellido": "Suarez",
    "edad": 27
}

In [81]:
print(mi_diccionario.get("identificacion", "La llave no existe"))

La llave no existe

In [82]:
print(mi_diccionario.keys())

dict_keys(['nombre', 'apellido', 'edad'])

In [83]:
print(mi_diccionario.values())

dict_values(['Santiago', 'Suarez', 27])

# Funciones en Python

In [ ]:
def suma(a, b, c=5):
    """
        Esta funcion suma 3 numeros y retorna el resultado
        Esta funcion recibe 3 argumentos que corresponden a los numeros a sumar
    """
    return a + b + c

print(suma(1,6,7))
print(suma(2,8))

14
15

## List comprenhensions

In [89]:
lista_numeros = [i**2 for i in range(1,21)]
print(lista_numeros)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]